In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('fahjdklafghjkaldgfjkladg'))
s

0     f
1     a
2     h
3     j
4     d
5     k
6     l
7     a
8     f
9     g
10    h
11    j
12    k
13    a
14    l
15    d
16    g
17    f
18    j
19    k
20    l
21    a
22    d
23    g
dtype: object

In [4]:
s.unique()

array(['f', 'a', 'h', 'j', 'd', 'k', 'l', 'g'], dtype=object)

In [8]:
s.value_counts()

a    4
j    3
d    3
k    3
f    3
g    3
l    3
h    2
dtype: int64

In [12]:
dados = pd.read_csv('./dados/aluguel.csv', sep = ';')

In [13]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [14]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64